beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.4
cycler==0.10.0
decorator==4.4.1
fix-yahoo-finance==0.1.37
future==0.18.2
geocoder==1.38.1
html5lib==1.0.1
idna==2.8
kiwisolver==1.1.0
lxml==4.6.2
matplotlib==3.1.1
multitasking==0.0.9
newz==0.0.1
numpy==1.17.4
pandas==0.25.3
pandas-datareader==0.8.1
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
ratelim==0.1.6
requests==2.22.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.4
urllib3==1.25.6
webencodings==0.5.1
yahoofinancials==1.5
yfinance==0.1.50
