atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.8.1
bleach>=3.3.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.4
coverage==5.4
cycler==0.10.0
decorator==4.4.1
docutils==0.16
future==0.18.2
geocoder==1.38.1
html5lib==1.0.1
idna==2.8
importlib-metadata==3.4.0
iniconfig==1.1.1
keyring==21.8.0
kiwisolver==1.1.0
lxml==4.6.2
matplotlib==3.1.1
multitasking==0.0.9
newz==1.0.2
numpy==1.17.4
packaging==20.8
pandas==0.25.3
pandas-datareader==0.8.1
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
Pygments==2.7.4
pyparsing==2.4.5
pytest==6.2.2
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
ratelim==0.1.6
readme-renderer==28.0
requests==2.22.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.4
toml==0.10.2
tqdm==4.56.0
twine==3.3.0
typing-extensions==3.7.4.3
urllib3==1.25.6
webencodings==0.5.1
yahoofinancials==1.5
zipp==3.4.0
